# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.env

# Django
db.sqlite3
staticfiles/
media/ # If you don't want to commit example media locally, but be careful if you rely on them
*.log

# IDE / OS
.vscode/
.idea/
*.DS_Store

#llm feed
llm_feed.py